/* styles.css - Challenge #1 (Skeleton) */
* {
    margin:0;
    font-family: 'Arial', Courier, monospace;
}

body {
    background-color:aliceblue;
}

.container{
    max-width: 800px;
    margin:auto;
    padding:24px;

}

h1 {
    color:purple;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom:20px;
}

.tagline {
    color:gray;
    font-style: italic;
    text-align: center;
    margin-bottom:20px;
}

#mascot-image{
    max-width:100%;
    max-height:100%;
}

.mascot-placeholder{
    border: 2px solid black;
    width:180px;
    height:120px;
    margin:auto;
    border-radius:20px;
    text-align: center;
    background-color: white;
    margin-bottom:20px;
}

p {
    margin-bottom: 20px;;
}

h2 {
    line-height: 70px;
}

button {
    color:white;
    font-weight: bold;
    padding:20px;
    border-radius:10px;
    margin:20px;
    transition:all 0.2s ease;
    border:none;
}

.buy-tickets{
    background-color: green;
    box-shadow: 0px 4px 6px lightskyblue;

}

.make-donation{
    background-color: blue;
    box-shadow: 0 4px 6px hotpink;
}

.about{
    padding:0px 40px;
}

button:hover{
    cursor:pointer;
    transform:translateY(-3px)
}

.buy-tickets:hover{
    background-color: darkgreen;
}

.make-donation:hover{
    background-color: darkblue;
}

.actions {
    text-align: center;
    margin:10px;
}

footer{
    font-size: x-small;
    border-top: 1px solid gray;
    text-align: center;
    margin:20px;
    padding-top: 20px;
    color:gray;
}